.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.planets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.planet-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgb(36, 181, 234);
  border-radius: 10px;
  transition: width 2s ease-in;
  transition: height 2s ease-in;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.pagination {
  margin-top: 20px;
  justify-content: flex-end;

}

.pagination button {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #45a049;
}


.pagination {

  top: calc(50vh - 16px);
  justify-content: center;
  display: flex;
  width: 100%;
}

.prev-button,
.next-button {
  position: relative;
  width: 100px;
  height: 32px;
}

.prev-button {
  order: 1;
}

.next-button {
  order: 2;
}

.disabled {
  filter: blur(2px);
  cursor: not-allowed;
}

.pagination_container {
  display: flex;
  justify-content: space-around;
}

.loading-planets {
  font-size: x-large;
  font-weight: 700;
  color: #45a049;
}