.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.planets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.planet-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgb(36, 181, 234);
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #45a049;
}

/* Add these styles to your CSS */
.pagination {
  /* position: fixed; */
  top: calc(50vh - 16px);
  /* Half of button height */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev-button,
.next-button {
  position: relative;
  width: 100px;
  /* Adjust the width as needed */
  height: 32px;
  /* Adjust the height as needed */
}

.prev-button {
  order: 1;
}

.next-button {
  order: 2;
}

.disabled {
  filter: blur(2px);
  cursor: not-allowed;
}


/* .planets-container {
  display: flex;
  flex-wrap: wrap;
}

.planet-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: 200px;
} */